*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.btn_li{
    display: none;
}
.label-con{
    background: black;
    width: 85px;
}
a{
    text-decoration: none;
}
.label-con ul{
    padding:0;
}
.label-con a{
    color: white;
    margin-top: 5px;
}
.label-con ul li{
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}
.label-con .fa{
    font-size: 30px;
    color: #C33235;
    margin-bottom: 5px;
}
.label_active{
    background: white;
    color: #C33235;
}
.label_active a{
    color: #C33235 !important;
}
.label-nav{
    width: 190px;
}
.label-nav ul{
    width: 100%;
    margin-left: 20px;
    padding: 10px 0;
}

.label-nav li a{
    display: block;
    padding: 8px 0 8px 8px;
    color: #C33235;
}
.nav_active{
    border-left: 2px solid black;
}
.nav_active a{
    color: black !important;
}
.sm_title{
    border-bottom: 1px solid lavender;
}
.tab_list li{
    border-bottom: 1px solid lavender;
}
.ul_li{
    width: 100%;
}
.ul_li li{
    width: 100%;
}
.menu2{
    display: none;
}
.modal-body a{
    color: #C33235;
}
.modal-body> ul >li {
    padding: 10px 0;
}
.modal-body .fa{
    margin-right: 10px;
}
@media screen and (max-width: 1200px){
    .CourseStatus{
        display: none;
    }
}
@media screen and (max-width: 992px){
    .label-con{
        display: none;
    }
    .label-nav{
        display: none;
    }
    .tab_list ul{
        padding-left: 0 !important;
    }
    .menu1{
        display: none;
    }
    .menu2{
        display: flex;
        width: 100%;
        background: black;
        color: white;
    }
}
