h3{
    width: 100%;
    background: #F5F5F5;
    padding:20px 10px;
    font-size: 1.5rem !important;
    border-bottom: 1px solid lavender;
    font-weight: bold;
}
.list-group-item{
    /*padding: 0 !important;*/
}
.describe{
    padding:0 10px;
    margin-left: 2.5rem;
}
.fa-list{
    color: black !important;
}
h4{
    padding: 10px;
    margin-bottom: 0 !important;
}
.con_text{
    margin-left: 3rem;
}
